header{
  color: darkblue;
  background-color: aliceblue;
  padding: 10px;
  display: flex;
}

h1{
  margin: 10px;
}

#logo{
  width: 70px;
  height: auto; 
}

nav > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: powderblue;
}

.nav-item{
  float: left;
  width: 125px;
  text-align: center;
}

.nav-item a:link, a:visited{
  text-decoration: none;
  display: block;
  padding: 8px;
  color: black;
}

.nav-item:hover{
  background-color: rgb(57, 202, 222);
  font-weight: 500;
}

.page{
  margin: 20px;
}
