header{
  color: #00008b;
  background-color: #f0f8ff;
  padding: 10px;
  display: flex;
}

#logo{
  height: 125px;
}

h3{
  font-family: 'Alata', Arial, Helvetica, sans-serif;
}

h4{
  font-family: 'Alata', Arial, Helvetica, sans-serif;
}

nav > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b0e0e6;
}

.nav-item{
  float: left;
  width: 125px;
  text-align: center;
}

.nav-item a:link, a:visited{
  text-decoration: none;
  display: block;
  padding: 8px;
  color: black;
}

.nav-item:hover{
  background-color: #F6C445;
  font-weight: 500;
}

body{
  background-color: #f0f8ff;
  font-family: 'Abel', Arial, Helvetica, sans-serif;
}

.page{
  margin: 20px;
}

footer{
  text-align: center;
}

/* dark blue: #00008b,
  pale blue: #f0f8ff,
  yellow: #F6C445,
  red: #e45f2b,
  light blue: #b0e0e6 */