.profile{
    display: flex;
    height: 550px;
}

.profile-photo{
    height: 500px;
    width: auto;
    margin: 20px;
    border-radius: 20px;
}

.profile-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 40px;
}

.profile p{
  line-height: 2em;
}

sup{
  vertical-align: top;
  position: relative;
  top: -0.3em;
}

.icons{
    display: flex;
    flex-direction: row;
}

.link-icon{
    height: 40px;
    width: auto;
    margin-right: 2em;
}

.credit:link{
    margin: 10px;
    text-decoration: underline;
    color: #00008b;
}

.credit:link:hover{
    color: #e45f2b;
}

.credit:visited:hover{
    color: #e45f2b;
}

.credit:visited{
    margin: 10px;
    color: #00008b;
}