.profile > h3{
    color: #000065;
}

.profile > p{
  line-height: 2em;
}

sup{
  vertical-align: top;
  position: relative;
  top: -0.3em;
}

.link-icon{
    height: 40px;
    width: auto;
    margin-right: 2em;
}

.credit:link{
    margin: 10px;
    text-decoration: underline;
    color: #00008b;
}

.credit:link:hover{
    color: #e45f2b;
}

.credit:visited:hover{
    color: #e45f2b;
}

.credit:visited{
    margin: 10px;
    color: #00008b;
}