#how-it-works{
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2em;
}

#how-it-works img{
    border-radius: 15px;
}

#pdf-box{
    background-color: #b0e0e6;
    border-radius: 10px;
    padding: 20px;
}

#pdf-link{
    text-decoration: none;
    font-weight: 700;
    color: #00008b;
}

#pdf-link:hover{
    color: #e45f2b;
}

em{
    font-family: 'Alata', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.maths{
    font-family: 'Times New Roman', Times, serif;
}

sub{
    vertical-align: bottom;
    position: relative;
    bottom: -0.3em;
}

#example-1{
    float: left;
    margin: 2%;
    height: auto;
    width: 50%;
}

@media (max-width: 1000px){
    #example-1{
        margin: 2%;
        height: auto;
        width: 100%;
    }
}

#example-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#example-2{
    margin: 20px;
    height: 400px;
    width: auto;
}

#example-3{
    margin: 20px;
    height: 400px;
    width: auto;
}