#parameters-form{
    display: grid;
    grid-template: 37.5% 37.5% 25% / repeat(8, 1fr);
}

#topic-label{
    grid-area: 2 / 1 / 3 / 2;
}

#topic-select{
    grid-area: 2 / 2 / 3 / 3;
}

#question-label{
    grid-area: 2 / 3 / 3 / 4;
}

#question-select{
    grid-area: 2 / 4 / 3 / -1;
}

input{
    grid-row-start: 3;
}

select{
    margin-left: 5px;
    margin-bottom: 10px;
}

label{
    text-align: right;
}

#graph{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 65%;
    height: auto;
}